*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;




}

.flex-container{
    display:flex;
    flex-direction: column;
    width:375px;
    margin:0 auto;
    height: 880px;
    justify-content:flex-start;
    align-items: center;
    background:url(bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);

}
h1{
    color:white;
    padding:8px;
    text-align: center;
}

.side-note p{
    color:white;
    text-align: center;
    margin-top: 2px;
}

.side-note{
    margin: 4rem ;
    margin-bottom: 20px;
}

.form-top{
    text-align: center;
    background-color:rgb(96, 85, 165);
    margin: 20 12px; 
    border-radius: 12px;
    padding: 15px;
    
    
}

.form-top p{
    color:white;   

}

.form{
    background-color: white;
    margin: 15px;
    width: 320;
    height: 490px;
    border-radius: 15px;
    padding:25px;
}

.input{
    width:256px;
    padding: 21px;
    border-color: rgba(163, 162, 162,0.2);
    border-width: 1px;
}

button{
    color:white;
    text-transform:uppercase;
    text-align: center;
    background-color:  hsl(154, 59%, 51%);
    border-style: hidden;
    width:256px;
    padding:18px;
    border-radius: 12px;
}

.terms{
    margin-top: 18px;
    color:hsl(246, 25%, 77%);
}

span{
    color:hsl(0, 100%, 74%) ;
}

@media screen and (max-width:1440px) {
    .flex-container{
        display:flex;
        flex-direction: row;
        margin:0 73px;
        width: 900px;
        height: 880px;
        justify-content:center;
        align-items: center;
        background:url(bg-intro-desktop.png);
        background-color: hsl(0, 100%, 74%);
    
    }
     .form-container{
        margin-right:160px;
    } 
    .side-note{
        margin: 4rem ;
        margin-bottom: 20px;
        margin-left: 78px;
    }

   
    

    
}

@media screen and (max-width:375px) {
    .flex-container{
        display:flex;
        flex-direction: column;
        width:375px;
        margin:0 auto;
        height: 880px;
        justify-content:flex-start;
        align-items: center;
        background:url(bg-intro-mobile.png);
        background-color: hsl(0, 100%, 74%);
    
    }

    .form-container{
        margin:0 auto;

    }

    .side-note{
        margin: 4rem ;
        margin-bottom: 20px;
    }
 
   
    

    
}
